body {
    background-color: #DDDDDD;
    color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0px;
}

.header, .wrapper, .footer {
    max-width: 900px;
    margin: 0px auto;
}

form.search {
    display: inline-block;
}

form.search input[type="text"] {
    background: #FCFCFC;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #BEBEBE;
    width: 150px;
    padding: 6px 12px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}

h1>a.edit {
    display: inline-block;
    float: right;
    text-decoration: none;
    font-size: 50%;
    color: #FAFAFA;
    box-shadow: 0px 0px 4px #999999;
    border-radius: 2px;
    padding: 8px;
    background-color: #594;
    background-image: linear-gradient(#6D5, #594);
    border: 1px solid;
    border-color: #593;
    font-weight: bold;
}

h1>a.edit:hover {
    background-color: #483;
    background-image: linear-gradient(#5C4, #483);
    border-color: #482;
}

.subtitle {
    margin-top: 0px;
    font-size: 160%;
    font-weight: bold;
}

h2 { font-size: 180%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; margin-bottom: 10px; }
h5 { font-size: 100%; margin-top: 0; margin-bottom: 0; }
h6 { font-size: 80%; margin-top: 0; margin-bottom: 0; }

h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #b3b3b3;
}

a {
    color: #A06;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
}

a:visited, a[rel~="nofollow"] {
    color: #804;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header>.menu {
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(#fefefe, #f1f1f1);
    background: linear-gradient(#fefefe, #f1f1f1);
    box-shadow: 0px 0px 4px #cccccc;
    border-radius: 2px;
    width: 100%;
}

div.page h1 {
    margin: 0px 3px;
    font-size: 18px;
}

h3 {
    margin-top: 28px;
}

.menu p {
    margin: 0px;
}

.gotobar, .gotobar div {
    display: inline-block;
}

.menu a {
    display: inline-block;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 20px 10px;
    margin: 0px;
}

.menu a:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(#f2f2f2 , #d8d8d8);
    background: linear-gradient(#f2f2f2, #d8d8d8);
}

input, textarea, select {
    color: #222;
    background-color: #CCC;
    border: 1px solid #666;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    font-size: 14px;
}

.header form input {
    font-size: 18px;
    background-color: #EEE;
    border-color: #AAA;
    padding: 0px;
    border-radius: 1px;
}

.footer .edit a {
    margin-right: 25px;
}

input {
    font-size:95%;
}

table.user {
    border-collapse: collapse;
    margin-left: 2px;
    margin-top: 10px;
}

table.user tr td {
    border: 1px solid #777;
    padding: 3px;
    margin: 0px;
}

.homepage { /* TODO disable in oddmuse? */
    display: none;
}

a.number {
    font-size: 60%;
    vertical-align: top;
}

h2 .Kava, .subtitle .Course {
    font-size: 55%;
    vertical-align: top;
}

li {
    margin: 4px 0px;
}

p.comment {
    margin: 50px 0px 0px 0px;
}

.page p.comment {
    margin: 0px 0px 0px 0px;
}

code {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
}

.rc>p a {
    padding: 0px 10px;
}

div.page {
    background-color: #CCCCCC;
    border-color: #BBBBBB; /* TODO */
    border-radius: 1px;
    padding: 10px;
    margin: 20px 0px;
    font-size: 100%;
}

div.page>.userComment {
    counter-increment: commentscount;
}

div.page p.comment:after {
    content: " (" counter(commentscount) ")";
}

div.page>.userComment, div.page>#commentsHeading, div.page>.commentsHeading {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#commentsHeading, .commentsHeading {
    margin-top: 50px;
}

.userComment {
    background-color: #CCCCCC;
    padding: 1px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 70%;
    border-radius: 3px;
}

.more {
    margin-top: 1px;
    margin-bottom: 35px;
}

.old, .diffactionold, .updaterold {
    background-color: #e2bcbc;
}

.new, .diffactionnew, .updaternew {
    background-color: #bce2bc;
}

.diffactionold *, .diffactionnew * {
    display: inline;
}

#aftertext {
    width: 570px;
    height: 175px;
}

img.upload {
    max-width: 100%;
}

.content {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right img, .left img {
    width: 300px;
    padding: 0px 20px 20px 20px;
}


.icon {
    float: right;
    text-align: center;
}

.icon img {
    width: 300px;
    margin: 0px 10px 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.translation {
    position: relative;
}

.translation .lang {
    display: none;
}

.translation .lang.selected {
    display: initial;
}

.translation_buttons {
    margin-top: 5px;
}

a.translation {
    color: #333;
    background-color: #483;
    background-image: linear-gradient(#EEE, #BCBCBC);
    border: 1px solid #888;
    border-left-width: 0px;
    padding: 3px 7px;
    outline: 0;
}

a.translation:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left-width: 1px;
}

a.translation:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

a.translation.selected {
    color: #333;
    background-color: #483;
    background-image: linear-gradient(#40C240, #78E078);
}

a.translation.missing {
    color: #333;
    background-color: #483;
    background-image: linear-gradient(#C24040, #E07878);
}

.gotobar br {
    display: none;
}

.gotobar {
    flex: 1;
    white-space: nowrap;
}

.menu, .gotobar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

form.search {
    margin-left: 20px;
    margin-right: 10px;
}
